@use '../../settings' as *;

.project-wrapper {
  height: 13rem;
  background-color: #7a7f88;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    transition: transform 400ms ease-in-out;
    box-shadow: 2px 2px 2px solid black;
    object-fit: contain;
  }

  .disc {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: left;
    padding: 0.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.400), rgba(0, 0, 0, 0.80));
    transition: all 400ms ease-in-out;
    
    @include desktop{
      bottom: -10rem;
    }

    h1 {
      font-size: 1rem;
    }

    p {
      width: 90%;
      font-size: 0.8rem;

      span {
        margin-left: 0.4rem;
        color: red;
      }

      a {
        margin-left: 0.4rem;
        color: $color-primary;
      }
    }
  }

  &:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }

  &:hover .disc {
    bottom: 0;
  }
}