@use '../../settings' as *;

.card-wrapper {
    width: 100%;
    background: linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%);
    padding: 1rem;
    text-align: center;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;

    @media(max-width: 640px) {
        margin-bottom: 1rem;
    }

    &:hover {
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);

        .icon {
            color: white;
            transform: scale(1.1, 1.1);
            -webkit-transform: scale(1.1, 1.1);
            -moz-transform: scale(1.1, 1.1);
            -ms-transform: scale(1.1, 1.1);
            -o-transform: scale(1.1, 1.1);
        }

        h1 {
            color: $color-primary;
        }
    }

    span {
        font-size: 4rem;

        .icon {
            font-size: 3rem;
            transition: transform .3s ease, color .3s ease;
            -webkit-transition: transform .3s ease, color .3s ease;
            -moz-transition: transform .3s ease, color .3s ease;
            -ms-transition: transform .3s ease, color .3s ease;
            -o-transition: transform .3s ease, color .3s ease;
}
    }

    h1 {
        font-size: 1.4rem;
        padding-bottom: 1rem;
        transition: color .5s ease;
        -webkit-transition: color .5s ease;
        -moz-transition: color .5s ease;
        -ms-transition: color .5s ease;
        -o-transition: color .5s ease;
    }

    p {
        font-size: .8rem;
    }
}