.services-wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 6rem 0;

    @media (max-width: 840px) {
        width: 90%;
    }

    h1 {
        padding-top: 1rem;
    }
}

.cards {
    margin-top: 4rem;
    gap: 1rem;

    @media(min-width:640px){
        display: flex;
        
        div{
            width: 100%;
        }
    }
}