@use '../../settings' as *;

.skills-wrapper{
    margin:  0 1.3rem;
    padding: 6.5rem 0;

    h4{
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    @include desktop {
        margin: 0 8rem;
    }
}