.banner{
  background: linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%);
  // height: 100vh;
  padding-bottom: 2rem;
  @media (max-width: 640px) {
    height: 100%;
    padding-bottom: 2rem;
  }
}

.lightColor{
  background: linear-gradient(159deg, rgb(45, 45, 58) 0%, rgb(43, 43, 53) 100%);
}