@use '../../settings' as *;

.prof-wrapper {
  display: flex;
  gap: 2rem;
  padding-top: 6rem;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 1;

  @media (max-width: 840px) {
    width: 90%;
  }

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.texts {
  flex: 1;

  h4 {
    padding: 1rem 0;
    font-weight: 500;
  }

  h1 {
    font-size: 2rem;
    font-family: "Secular One", sans-serif;
    letter-spacing: 2px;
  }

  h3 {
    font-weight: 500;
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
    text-transform: capitalize;
  }

  p {
    font-weight: 300;
  }

  a {
    display: inline-block;
    padding: 0.7rem 2rem;
    margin-top: 3rem;
    margin-right: 1rem;
    cursor: pointer;
    text-decoration: none;
    background-color: #01be96;
    border: none;
    color: #fff;
    font-weight: 500;
    filter: drop-shadow(0px 10px 10px #01be9551);
    transition: transform .5s ease;
    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    -webkit-filter: drop-shadow(0px 10px 10px #01be9551);

    &:hover {
      filter: drop-shadow(0px 10px 10px #01be9570);
      transform: translateX(5px);
      -webkit-transform: translateX(5px);
      -moz-transform: translateX(5px);
      -ms-transform: translateX(5px);
      -o-transform: translateX(5px);
    }
  }

  .cv-button{
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;

    &:hover{
      background-color: #01be9513;
    }
  }
}

.social {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    font-size: 0.9rem;

    @media (max-width: 690px) {
      font-size: 0.7rem;
    }
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;

    span {
      width: 2.3rem;
      height: 2rem;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      background-color: #01be96;
      position: relative;
      transition: transform 400ms ease-in-out;

      &:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
      }
    }

    a {
      color: #fff;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -153%);
      -webkit-transform: translate(-50%, -153%);
      -moz-transform: translate(-50%, -153%);
      -ms-transform: translate(-50%, -153%);
      -o-transform: translate(-50%, -153%);
    }
  }
}

.profile {
  img {
    width: 30rem;
    filter: drop-shadow(0px 10px 10px #01be9570);
    transition: transform 400ms ease-in-out;
    // animation: animation 3s infinite;
    // -webkit-animation: animation 3s infinite;

    // @keyframes animation {
    //   0% {
    //     transform: translateY(0px);
    //     -webkit-transform: translateY(0px);
    //     -moz-transform: translateY(0px);
    //     -ms-transform: translateY(0px);
    //     -o-transform: translateY(0px);
    //   }

    //   50% {
    //     transform: translateY(-10px);
    //     -webkit-transform: translateY(-10px);
    //     -moz-transform: translateY(-10px);
    //     -ms-transform: translateY(-10px);
    //     -o-transform: translateY(-10px);
    //   }

    //   100% {
    //     transform: translateY(0px);
    //     -webkit-transform: translateY(0px);
    //     -moz-transform: translateY(0px);
    //     -ms-transform: translateY(0px);
    //     -o-transform: translateY(0px);
    //   }
    // }

    @media (max-width: 790px) {
      width: 20rem;
    }

    @media (max-width: 660px) {
      width: 18rem;
    }

    @media (max-width: 640px) {
      width: 100%;
    }
  }

  &:hover img {
    transform: translateY(-10px);
  }
}